{% extends 'profile/index.html' %}

{% block admin_title %}
Profile
{% endblock admin_title %}

{% block main %}
<div class="row">
  {% if object_list %}
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Responsive Hover Table</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>user</th>
                <th>title</th>
                <th>description</th>
                <th>category</th>
                <th>image</th>
                <th>publish</th>
                <th>vip article?</th>
                <th>status</th>
              </tr>
            </thead>
            <tbody>
                {% for article in object_list %}
                  <tr>
                  <td>{{article.user.username}}</td>
                  
                    <td>
                      {% if article.status in 'BP'|make_list or user.is_superuser %}
                        <a href="{% url 'profile:article-update' article.slug %}">{{article.title}}</a>
                      {% else %}
                        {{article.title}}
                      {% endif %}
                    </td>

                    <td>{{article.description|striptags|truncatewords:5}}</td>
                    
                    <td>#{{article.category_to_str}}</td>
                    
                    <td><img src="{{article.thumbnail.url}}" width='100'></td>
                    
                    <td>{{article.publish.date}}</td>
                    
                    <td>{% if article.is_special %}
                      <i class="fa fa-check-circle" style='color: green'></i>
                    {% else %}
                    <i class="fa fa-check-circle" style='color: red'></i>

                    {% endif %}
                    </td>
                    
                    <td>
                  {% if article.status == 'P' %}
                      {% comment %} <span class="badge badge-success">منتشر شدن</span> {% endcomment %}
                        <p><a target="_blank" class="badge badge-success" 
                        href="{% url 'blog:article-detail' article.slug %}">مقاله منتشر شد</a></p>
                  {% elif article.status == 'I' %}
                      <span class="badge badge-primary">درحال بررسی </span>
                          {% if user.is_superuser %}
                            <a href="{% url 'blog:article-preview' article.slug %}"><span class="badge badge-secondary"> پیش نمایش درسایت</span></a>
                          {% endif %}
                  {% else %}
                      {% if article.status == 'D' %}
                      <span class="badge badge-danger">پیش نویس </span>
                      {% else %}
                        <span class="badge badge-warning"> برگشت داده شده </span>
                  {% endif %}
                      <a href="{% url 'blog:article-preview' article.slug %}"><span class="badge badge-secondary"> پیش نمایش درسایت</span></a>
                  {% endif %}

                  {% if user.is_superuser %}
                      <p><a class='badge text-danger' href="{% url 'profile:article-delete'  article.slug %}">حذف</a></p>
                  {% endif %} 
                  </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    {% else %}
    <h3>no article for show</h3>
    </div>
  </div>
  {% endif %}
  


{% endblock main %}