{% load static %}
{% load ratings %}


<header class="masthead" style="background-image: url('{{article.thumbnail.url}}')">
    
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h3>{{object.title}}
                        {% if object.is_special %}
                        <span class="badge bg-danger" style='font-size: 14px'>ویژه</span> 
                        {% endif %}
                    </h3>                     
                    <span class="subheading">{{article.publish}}</span>
                    {% comment %} {% ratings object %}   {% endcomment %}
                    <div> views:{{object.hits.count}}</div>

                </div>
            </div>
        </div>
    </div>
</header>