{% extends '_base.html' %}
{% load base_tags %}
{% load ratings %}

{% block content %}
{% include 'blog/header.html' %}

<h3 class="alert alert-primary text-center">{{search}}
</h3>
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for articles in article %}
            <div class="post-preview">
                <a href="{{articles.get_absolute_url}}">
                    <h2 class="post-title">{{articles.title}}
                        {% if articles.is_special %}
                        <span class="badge bg-danger" style='font-size: 14px'>ویژه</span> 
                        {% endif %}                    
                    </h2>
                    
                    
                    <h3 class="post-subtitle">{{articles.description|truncatechars:30|striptags}}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    {% comment %} <a href="{% url 'blog:author-list' articles.user.username %}">{{articles.user.get_full_name}}</a> {% endcomment %}
                    {{articles.publish}}
                </p>
                <div> <small> views:{{articles.hits.count}}</small></div>
                {% for categories in articles.category.category_status %}
                    <a href="{% url 'blog:category'  categories.slug %}">#{{categories.title}}</a>
                {% endfor %}
                
                <!-- Divider-->
                <hr class="my-4" />
                {% empty %}
                محتوایی نیست
                {% endfor %} 

            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>
{% endblock content %}